/* primary #757575; */
/* title #212121; */
/* accent #2196F3; */
/* Footer contacts rgba(255, 255, 255, 0.6 */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
}
/* Отключает точки в списках */
.list {
  list-style: none;
}
/* Стили цвета для текста body  */
body {
  color: var(--primary-text-color);
}

/* Стили цвета для заголовков */
.section .title {
  color: var(--title-text-color);
}

/* Стили для ссылок навигации */
.site-nav .link {
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

/* Стили для контактов почты и тел. */
.contacts-header .link {
  color: var(--primary-text-color);
}
.contacts-footer .link {
  color: var(--footer-contacts-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-text-color);
}

/* Стили для места локации */
.contacts .location {
  color: var(--primary-white-color);
}

/* Стили для логотипа */
.logo .logo-web {
  color: var(--accent-text-color);
}

.logo-header .logo-studio {
  color: var(--title-text-color);
}
.logo-footer .logo-studio {
  color: var(--primary-white-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-text-color);
}
/* Стили секции Героя */
.hero .title {
  color: var(--primary-white-color);
}
.hero {
  background-color: var(--primary-bg-color);
}

/* Стили для кнопок */
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
}
.button.primary:hover,
.button.primary:focus {
  color: var(--accent-text-color);
  background-color: var(--primary-white-color);
}

/*Стили для подвала */
footer {
  background-color: var(--primary-bg-color);
}

/* Стили для секции Команда */
.our-team {
  background-color: var(--secondary-bg-color);
}
