/* Стили для логотипа */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-decoration: none;
  font-weight: bold;
}

.logo-part1 {
  color: #2196f3;
}

.logo-top .logo-part2 {
  color: #212121;
}
.logo-bottom .logo-part2 {
  color: white;
}
/* Стили для боди*/
body {
  font-family: 'Roboto', sans-serif;
}

/* Стили для подвала */
.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
.contacts-top a {
  line-height: 16px;
  color: #757575;
}

.contacts-bottom a {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.location {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
footer {
  background: #2f303a;
}

/* Стили для секции Команда*/
.our-team {
  background: #f5f4fa;
}
/* Стили для секции Героя*/
.hero {
  background: #2f303a;
}
.hero h1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}
